{% extends 'base.html' %}
{% load static %}

{% block title %}Monitora OCI - Cadastro de OCI{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'usuarios/css/cadastro_oci.css' %}">
{% endblock %}

{% block content %}

<div class= "main-content-inner">

    <h2 class="page-title">Cadastro de OCI</h2>
    
    <div class="card">
        <h3>Buscar Paciente</h3>
    
        <div class="input-row">
            <input type="text" id="cpf_lookup" class="form-control" placeholder="Digite o CPF">
            <button class="btn-primary" onclick="buscarCPF()">Buscar</button>
        </div>
    
        <div id="statusBusca" class="search-status"></div>
    </div>
    
    <form method="post">
        {% csrf_token %}
        <input type="hidden" id="paciente_id" name="paciente_id" />
    
        <!-- BLOQUEADO NO INÍCIO -->
        <div class="card bloqueado" id="card_paciente">
            <h3>Dados do Paciente</h3>
            {{ paciente_form.as_p }}
        </div>
    
        <div class="card bloqueado" id="card_oci">
            <h3>Dados da OCI</h3>
            {{ oci_form.as_p }}
        </div>
    
        <div class="form-actions bloqueado" id="acoes_form">
            <button type="submit" class="btn-primary">Salvar</button>
        </div>
    </form>
</div>


<script src="{% static 'usuarios/js/cadastro_oci.js' %}"></script>

{% endblock %}
