{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'usuarios/css/consulta.css' %}">
{% endblock %}

{% block content %}
<div class="main-content-inner">

    <h2 class="page-title">Consultar OCI por CPF</h2>

    <!-- CARD DE BUSCA -->
    <div class="card">
        <h3>Buscar Paciente</h3>

        <div class="input-row">
            <input type="text" id="cpf_lookup" class="form-control" placeholder="Digite o CPF">
            <button class="btn-primary" onclick="buscarCPF()">Buscar</button>
        </div>

        <div id="statusBusca" class="search-status"></div>
    </div>

    <div id="resultados"></div>
    
<script src="{% static 'usuarios/js/consulta.js' %}"></script>

{% endblock %}